﻿@model Desarrollo.Inventario.Models.ProveedoresModel.proveedoresListVM
@{
    Layout = null;
}

<h2>ListadoProveedores</h2>

<table class="footable table table-stripped" data-page-size="100" data-sort="false">
    <thead>
        <tr>
            <th>Codigo Proveedor</th>
            <th>Nombre Proveedor</th>
            <th>Direccion Proveedor</th>
            <th>Telefono Proveedor</th>
            <th>Correo Proveedor</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var proveedor in Model.listadoproveedores)
        {
        <tr>
            <td>@proveedor.codigo_proveedor</td>
            <td>@proveedor.nombre_proveedor</td>
            <td>@proveedor.direccion</td>
            <td>@proveedor.telefono</td>
            <td>@proveedor.correo</td>


            <td><a class="btn btn-primary editarprov" data-codigo="@proveedor.codigo_proveedor" href="@Url.Action("EditarProveedor", "Proveedores", new { id = proveedor.codigo_proveedor })">Editar</a></td>
            <td><a class="btn btn-danger eliminarprov" data-codigo="@proveedor.codigo_proveedor" href="@Url.Action("EliminarProveedor", "Proveedores", new { id = proveedor.codigo_proveedor })">Eliminar</a></td>
        </tr>
        }
    </tbody>
</table>


